{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Editar Direccion</h1>

    {{ form_start(edit_form) }}

    <div class="container">
      <div class="row">
        <div class="col s6">
          {{ form_label(edit_form.calle)}}
          {{ form_widget(edit_form.calle)}}
          {{ form_errors(edit_form.calle)}}
        </div>
        <div class="col s6">
          {{ form_label(edit_form.colonia)}}
          {{ form_widget(edit_form.colonia)}}
          {{ form_errors(edit_form.colonia)}}
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          {{ form_label(edit_form.delegacion)}}
          {{ form_widget(edit_form.delegacion)}}
          {{ form_errors(edit_form.delegacion)}}
        </div>
        <div class="col s6">
          {{ form_label(edit_form.numero)}}
          {{ form_widget(edit_form.numero)}}
          {{ form_errors(edit_form.numero)}}
        </div>
      </div>
      <div class="row">
        <div class="">
          {{ form_label(edit_form.usuarios)}}
          {{ form_widget(edit_form.usuarios)}}
          {{ form_errors(edit_form.usuarios)}}
        </div>
      </div>
    </div>

        {{ form_widget(edit_form) }}

        <div class="fixed-action-btn horizontal">
          <a class="btn-floating btn-large grey darken-2">
            <i class="material-icons">more</i>
          </a>
          <ul>
            <li><a  href="{{ path('direccion_index') }}" class="btn-floating grey darken-2 pulse"><i class="material-icons">backspace</i></a></li>
            <li><button type="submit" value="Edit" class="btn-floating waves-effect waves-light grey darken-2"><i class="material-icons">edit</i></button></li>
          </ul>
        </div>

    {{ form_end(edit_form) }}

{% endblock %}
