{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">Usuario</h1>

    <div class="container">
      <table class="striped centered">
        <tr>
          <td><strong>Id</strong></td>
          <td><strong>Nombre</strong></td>
          <td><strong>Apellido Paterno</strong></td>
          <td><strong>Apellido Materno</strong></td>
          <td><strong>Edad</strong></td>
          <td><strong>Dirección</strong></td>
        </tr>
        <tr>
          <td>{{ usuario.id}}</td>
          <td>{{ usuario.nombre}}</td>
          <td>{{ usuario.apellidoPaterno}}</td>
          <td>{{ usuario.apellidoMaterno}}</td>
          <td>{{ usuario.edad}}</td>
          <td>{{ usuario.calle}}</td>
        </tr>
      </table>
    </div>

            {{ form_start(delete_form) }}

            <div class="fixed-action-btn horizontal">
              <a class="btn-floating btn-large grey darken-2 pulse tooltipped" data-position="top" data-tooltip="Opciones">
                <i class="material-icons">more</i>
              </a>
              <ul>
                <li><a  href="{{ path('usuario_index') }}" class="btn-floating grey darken-2 tooltipped" data-position="top" data-tooltip="Usuarios"><i class="material-icons">backspace</i></a></li>
                <li><a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn-floating grey darken-2 tooltipped" data-position="top" data-tooltip="Editar"><i class="material-icons">edit</i></a></li>
                <li><button type="submit" value="Delete" class="btn-floating waves-effect waves-light grey darken-2 tooltipped" data-position="top" data-tooltip="Eliminar"><i class="material-icons">delete</i></button></li>
              </ul>
            </div>

            {{ form_end(delete_form) }}
{% endblock %}
